{
	"presets": [
		["@babel/preset-env", {
			"modules": false,
			"useBuiltIns": "entry"
		}],
		"@babel/preset-stage-1",
		"@babel/preset-react"
	],
	"plugins": [
		"react-hot-loader/babel",
		"@babel/plugin-proposal-optional-chaining",
		"lodash"
	]
}
